__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
venv/
build/
dist/
*.egg-info/

# Logs and outputs
output/
LiveTest/Predictions/
*.tflite
*.pb
*.h5
*.ckpt
*.log

# Environment variables
.env

# IDE/project files
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini 